<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.group.marketsupervision.mapper.EquipmentMapper">

    <resultMap id="equipmentResultMap" type="com.group.marketsupervision.pojo.Equipment">
        <id property="id" column="id"/>
        <result property="ename" column="ename"/>
        <result property="ecode" column="ecode"/>
        <result property="registrationNumber" column="registrationNumber"/>
        <result property="version" column="version"/>
        <result property="usingPlace" column="usingPlace"/>
        <result property="companyName" column="companyName"/>
        <result property="type" column="type"/>
        <result property="productNumber" column="productNumber"/>
        <result property="commissioningDate" column="commissioningDate"
                typeHandler="org.apache.ibatis.type.LocalDateTypeHandler"/>
        <result property="inspectionDate" column="inspectionDate"
                typeHandler="org.apache.ibatis.type.LocalDateTypeHandler"/>
        <result property="nextInspectionDate" column="nextInspectionDate"
                typeHandler="org.apache.ibatis.type.LocalDateTypeHandler"/>
        <result property="isInspected" column="is_inspected"/>
        <result property="isOverdue" column="is_overdue"/>
        <result property="createdAt" column="createdAt"/>
        <result property="comment" column="comment"/>
    </resultMap>

    <insert id="insertEquipment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO equipment(
            ename, ecode, registrationNumber, version, usingPlace,
            companyName, type, productNumber, commissioningDate,
            inspectionDate, comment, nextInspectionDate,
            createdAt, modifiedAt, is_inspected, is_overdue
        )
        VALUES(
                  #{ename},
                  #{ecode},
                  #{registrationNumber},
                  #{version},
                  #{usingPlace},
                  #{companyName},
                  #{type},
                  #{productNumber},
                  #{commissioningDate, typeHandler=org.apache.ibatis.type.LocalDateTypeHandler},
                  #{inspectionDate, typeHandler=org.apache.ibatis.type.LocalDateTypeHandler},
                  #{comment},
                  #{nextInspectionDate, typeHandler=org.apache.ibatis.type.LocalDateTypeHandler},
                  #{createdAt},
                  #{modifiedAt},
                  #{isInspected},
                  #{isOverdue}
              )
    </insert>

    <update id="updateEquipmentByRegistrationNumber">
        UPDATE equipment
        SET
            ename = #{ename},
            ecode = #{ecode},
            registrationNumber = #{registrationNumber},
            version = #{version},
            usingPlace = #{usingPlace},
            companyName = #{companyName},
            type = #{type},
            productNumber = #{productNumber},
            commissioningDate = #{commissioningDate, typeHandler=org.apache.ibatis.type.LocalDateTypeHandler},
            inspectionDate = #{inspectionDate, typeHandler=org.apache.ibatis.type.LocalDateTypeHandler},
            comment = #{comment},
            nextInspectionDate = #{nextInspectionDate, typeHandler=org.apache.ibatis.type.LocalDateTypeHandler},
            createdAt = #{createdAt},
            modifiedAt = #{modifiedAt},
            is_inspected = #{isInspected},
            is_overdue = #{isOverdue}
        WHERE registrationNumber = #{registrationNumber}
    </update>

    <update id="updateOverdueStatus">
        UPDATE equipment
        SET
            is_overdue = #{isOverdue}
        WHERE id = #{id}
    </update>

    <select id="getAllEquipments" resultMap="equipmentResultMap">
        SELECT * FROM equipment
    </select>

    <select id="getEquipmentsByCompanyName" resultMap="equipmentResultMap">
        SELECT * FROM equipment
        WHERE companyName = #{companyName}
    </select>

    <select id="getEquipmentByRegistrationNumber" resultType="com.group.marketsupervision.pojo.Equipment">
        SELECT * FROM equipment
        WHERE registrationNumber = #{registrationNumber}
    </select>

    <select id="existsById" resultType="int">
        SELECT COUNT(*) FROM equipment
        WHERE id = #{id}
    </select>

    <delete id="deleteEquipmentById">
        DELETE FROM equipment
        WHERE id = #{id}
    </delete>

</mapper>